body {
    font-family: Helvetica,Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.video-container {
    float: left;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.video-box {
    flex: 1;
    text-align: center;
}

video {
    max-width: 100%;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;

}

.chat-container{
    height: 100%;
    width: 270px;
    background-color: white;
    position: relative;
      margin-top:-18px;
      float:right;
      right:-18px;
      top:0px;
}

.message-title{
    text-align: center;
}
.messages{
    overflow:scroll; 
    height:200px;
    padding: 12px;
    padding-top: 0px;
}
.chat-label{
    margin: 4px;
}

.message-input-container{
    border-top: 2px solid black;
    padding: 8px;
}

.your-message{
    font-family: sans-serif;
    height: 48px;
    width: 100%;
    background-color: transparent;
    border: none;
    user-select: none;
    resize: none;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
    padding-left: 0px;
}



button {
    background-color: #007bff;
    color: white;
    padding: 4px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    float:right;
    margin: 4px;
}

button:hover {
    background-color: #0056b3;
}

.connection-success {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    color: white;
    z-index: 1000;
    margin-bottom: 5px;
}

#canvasContainer{
    z-index: 200;
}
